<form action="/create" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="date" name="dob" placeholder="date" required>
    <input type="text" name="school" placeholder="school" required>
    <input type="text" name="class" placeholder="class" required>
    <input type="text" name="division" placeholder="division" required>
    <select name="status" id="cars">
        <option value="1">active</option>
        <option value="0">inactive</option>
    </select>
    <input id="submit" type="submit" value="create">
</form>